<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base Page{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-light bg-light px-3">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuDropdown">
        <span class="navbar-toggler-icon"></span>
    </button>

    <h5 class="ms-3 mb-0">Header from Base file base.html</h5>
</nav>

<div class="collapse" id="menuDropdown">
    <div class="bg-light p-3 border">

        <a class="dropdown-item" href="{% url 'index' %}">Base</a>
        <a class="dropdown-item" href="{% url 'student' %}">Student</a>

        {% if not request.user.is_authenticated %}
            <!-- Show these only for guests -->
            <a class="dropdown-item" href="{% url 'signup' %}">Signup</a>
            <a class="dropdown-item" href="{% url 'login' %}">Login</a>
        {% else %}
            <!-- Show this only for logged-in users -->
            <a class="dropdown-item text-danger" href="{% url 'logout' %}">Logout</a>
        {% endif %}

    </div>
</div>


<h4>hello world</h4>
<p>Welcome, {% if request.user.is_authenticated %}{{ request.user.username }}{% else %}Guest{% endif %}!</p>

{% block content %}
{% endblock %}

<footer>
{% block footer %}
{% endblock %}
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
